conda {
    enabled = true
    channels = ['conda-forge', 'bioconda', 'defaults']
}

profiles {
    // End-users on Apple Silicon use this profile
    apple_silicon {
        conda.createOptions = "--subdir 'osx-64'"
    }
}

// Process configuration
process {
    withName: "fetch_data" {
        // Book hardware resources
        cpus = 6
        memory = "4 GB"

        // Pass the values above defined onto the commandline
        // Transform "4 GB" into the integer 4
        ext.args = { "--threads ${task.cpus} --mem ${task.memory.toGiga()}" }
    }
}

process {
    withName: "fastqc" {
        // Book hardware resources
        cpus =  6
        memory = "4000 MB"

        // Pass the values above defined onto the commandline
        // Transform "4000 MB" into the integer 4000
        ext.args = { "--threads ${task.cpus} --memory ${task.memory.toMega()}"}
    }
}

process {
    // Apply this to any process that starts with 'fastqc'
    withName: 'fastqc.*' {
        conda = "bioconda::fastqc=0.12.1"
    }
}