conda {
    enabled = true
    channels = ['conda-forge', 'bioconda', 'defaults']
}

profiles {
    // End-users on Apple Silicon use this profile
    apple_silicon {
        conda.createOptions = "--subdir 'osx-64'"
    }
}

process {
    withLabel: "mem_cpus" {
        cpus = 4
        memory = 4.GB
    }
}